* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 40px auto;
  padding: 0 16px;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 75px;
}

img {
  max-width: 100%;
  /*height: auto;*/
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.container .item {
  /*border: 1px solid black;*/
  /*font-size: 40px;*/
  /*text-align: center;*/
}
