* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 40px auto;
  padding: 0 16px;
  max-width: 1000px;
}

.container {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  grid-gap: 10px;
}

.container div {
  border: 1px solid black;
  font-size: 80px;
  text-align: center;
}

.container div:nth-child(odd) {
  background-color: #f0f0f0;
}