* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 40px auto;
  padding: 0 16px;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
}


.container .item {
  border: 1px solid black;
  font-size: 40px;
  text-align: center;
}
