* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 40px auto;
  padding: 0 16px;
  max-width: 1000px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 300px 40px;
  grid-gap: 10px;
}

.header {
  grid-column: 2 / -1;
}

.menu {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.content {
  grid-column: 2 / -1;
}

.footer {
  grid-column: 1 / -1;
}

.container > * {
  border: 1px solid black;
  text-align: center;
}

.container div:nth-child(odd) {
  /*background-color: #f0f0f0;*/
}